.pageBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 353px;
  padding: 24px;
  gap: 16px;
  margin: auto;
  background: var(--white, #fff);
  border-radius: 23px;
}

.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 16px;
  background: var(--white, #fff);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url('../assets/unsplash_v2aKnjMbP_k.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.name, .username, .statNumber, .statLabel {
  font-family: "Geist Variable", sans-serif;
  line-height: 1.4;
}

.name {
  color: #1C1C1C;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.username {
  color: #888888;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: -20px;
}

.statsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statNumber {
  color: var(--Primary-Dark, #1C1C1C);
  font-size: 20px;
  font-weight: 600;
}

.statLabel {
  color: var(--Secondary, #72767F);
  font-size: 16px;
}

.editButton {
  padding: 12px 60px;
  margin-top: 20px;
  background: #EDEDED;
  font-weight: 600;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  align-self: center;
}

.profile-navigation {
  display: flex;
  border-bottom: 2px solid #EDEDED;
  margin-bottom: 20px;
}

.nav-button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
  color: #757575;
  border-bottom: 3px solid transparent;
}

.nav-button.active {
  color: #212121;
  border-bottom: 3px solid #FFA500;
}

.content {
  width: 100%;
}

.orange-button {
  display: inline-flex;
  color: #EB5635;
padding: 5px 15px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 50px;
background: #F3DBDA;
}
