/* SearchPage.css */
.search-page {
    padding: 20px;
    padding-bottom: 70px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Adjust as per design */
    justify-content: space-around; /* This will space out the cards evenly */
    max-width: 500px; /* Adjust to match the homepage content width */
    margin: 0 auto; /* Centers the container */
  }

  .resturantcards-container {
    display: flex;
    flex-direction: column; /* Stack the cards vertically */
    gap: 20px; /* Adjust as per design */
    align-items: center; /* Center the cards */
    max-width: 500px; /* Adjust to match the homepage content width */
    margin: 20px auto; /* Centers the container with a margin top and bottom */
  }
  
  .dish-card{
    width: calc(50% - 20px); /* Adjust width taking into account the gap */
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  }

   .restaurant-card {
    width: 100%; /* Card takes full width of the container */
    margin-bottom: 20px; /* Space below each card */
    /* No negative margins */
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  }
  
  /* Styles for the "View More" button */
  .view-more {
    background-color:#FF5733;; /* Your theme color */
    color: white;
    border: none;
    border-radius: 20px; /* Rounded borders */
    padding: 8px 16px; /* Bigger padding for a button-like appearance */
    cursor: pointer;
    font-weight: bold; /* Optional: if you want the text to be bold */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
  }

  .profiles-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px; /* Adjust the width as necessary */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Or any color you prefer */
  }
  
  .profile-avatar {
    width: 80px; /* Adjust as necessary */
    height: 80px; /* Adjust as necessary */
    border-radius: 50%; /* Circular avatar */
    margin-bottom: 10px;
  }
  
  .profile-info h3 {
    margin: 0;
    font-size: 14px; /* Adjust as necessary */
  }
  
  .profile-info p {
    margin: 0;
    color: #666; /* Adjust as necessary */
    font-size: 12px; /* Adjust as necessary */
  }
  
  .profile-info span {
    font-size: 12px; /* Adjust as necessary */
    color: #333; /* Adjust as necessary */
  }
  
  @media (max-width: 600px) {
    .dish-card, .restaurant-card {
      flex-basis: 100%; /* Full width on smaller screens */
    }
  }
  