/* global.css */
body, html {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
  }
  
  .smartphone-container {
    max-width: 375px;
  margin: 0 auto;
  /* Removed height: 100%; to allow natural document flow */
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  overflow-x: hidden;
  /* Padding-bottom should be at least the height of the nav bar or more */
  padding-bottom: 100px; /* Adjust this value if your navbar is taller */
}